<span style='color: #000' title='Frames'>   203</span><span style='color: #009' title='Memory'>   6144.00 KB</span><span style='color: #900' title='Time'>    222.04 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />